*
{
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 30px;
    list-style-type:none;
    text-align: center;


}
.navbar li {
    font-family: roboto;
    font-weight: bold;
    margin: 30px;
    display: inline;
    text-transform: uppercase;
    color: #16a085;

}
.image {
    height: 100vh;
    background-size: cover;
    background-image: url("top-img.png");
    background-position: center;
    background-repeat: no-repeat;

}
.content{
    background-color: #F5F5F5;
}
.header{
    font-family: roboto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;

}
p{
    font-family: roboto;
    padding: 0px 100px 30px 100px;
    text-align: center;
    line-height: 26px;
    font-weight: 900;

}
button{
    margin-left: 45%;
    margin-bottom: 100px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 45px 15px 45px;
    border: 0px;
    border-radius: 3px;
    background-color: #16a085;
    font-size:10px;
}
.footer{
    margin-top: 30px;
    text-align: right;
}
